@model IEnumerable<MassageGirls.Models.GirlProfile>

<section id="wsSection">

    <section id="wsSection1" class="ws-parallax ws-parallax-contain lva-section-header">
        @*<div class="ws-parallax ws-parallax-window" data-parallax="scroll" data-z-index="0" data-image-src="images/las-vegas-asian-hotel-room-massage.jpg" ></div>*@
        <div class="ws-parallax ws-parallax-window parallax"></div>

        <div class="ws-parallax-text">

            <div class="ws-section-content">
                <div class="ws-wrap">

                    <div class="divright">
                        <h1>Welcome To Massage Girls Online</h1>
                        <p>Our charming masseuses offer relaxing massage and stress release in the privacy of your hotel room.</p>

                        <div class="frm_forms" id="frm_form_9_container">
                            <div class="ws-profile-contact" id="frm_form_9_container">
                                @await Html.PartialAsync("_ContactForm", new ContactUsModel())
                            </div>
                       </div>

                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="wsSection3" class="ws-section ws-section-3 lva-section-welcome">
        <div class="ws-section-content">
            <header class="ws-header">
                <div class="ws-wrap">
                    <h2 class="page-title">Discounts available!</h2>
                </div>
            </header>

            <div class="ws-wrap">
                <figure class="ibox">
                    <img src="~/images/banner.jpg" class="attachment-wsomega-thumbnail size-wsomega-thumbnail" alt="" sizes="(max-width: 450px) 100vw, 450px">

                </figure>

                <div class="&quot;ws-button-div-center&#39;">
                    <p><a class="ws-button" href=".@Url.Action("Booking", "Home")/">Schedule an Appointment</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- massages -->
    <section id="wsSection2" class="ws-section ws-section-2 lva-section-grid">
        <div class="ws-section-content">
            <div class="ws-wrap">
                <ul class="ws-grid ws-grid-3">
                    <li class="widget ws-section-grid-1" itemscope="">
                        <figure class="ibox">
                            <img width="450" height="225" src="~/images/erotic_massage.jpg" class="attachment-wsomega-thumbnail size-wsomega-thumbnail" alt="" sizes="(max-width: 450px) 100vw, 450px">
                        </figure>

                        <h3 class="widget-title" itemprop="name" style="height: 20px;"> Erotic Massage </h3>
                        <div class="summary"><p style="height: 88px;">As the name suggests erotic massage is all about getting erotic massage while you enjoy health benefits too. Erotic massage is the only thing that can satisfy your thoroughly.</p></div>
                        <!-- <div class="ws-button-div-center"><a href="erotic.php" class="ws-button">Explore</a></div> -->
                    </li>

                    <li class="widget ws-section-grid-2" itemscope="">

                        <figure class="ibox">
                            <img width="450" height="225" src="~/images/happy_ending_massage.jpg" class="attachment-wsomega-thumbnail size-wsomega-thumbnail" alt="" sizes="(max-width: 450px) 100vw, 450px">
                        </figure>

                        <h3 class="widget-title" itemprop="name" style="height: 20px;"> Happy Ending Massage </h3>
                        <div class="summary"><p style="height: 88px;">If you want total satisfaction then happy ending massage is the right thing for you. Come to us and experience the best happy ending massage without any worries.</p></div>
                        <!-- <div class="ws-button-div-center"><a href="happy-ending.php" class="ws-button">Explore</a></div>    -->
                    </li>

                    <li class="widget ws-section-grid-3" itemscope="">
                        <figure class="ibox">
                            <img width="450" height="225" src="~/images/tantra_massage.jpg" class="attachment-wsomega-thumbnail size-wsomega-thumbnail" alt="" sizes="(max-width: 450px) 100vw, 450px">
                        </figure>

                        <h3 class="widget-title" itemprop="name" style="height: 20px;"> Tantra Massage </h3>
                        <div class="summary"> <p style="height: 88px;">Get ready to experience the most amazing massage of your life with tantra massage. Tantra massage will not just please you but it will make you feel damn amazing too.</p></div>
                        <!-- <div class="ws-button-div-center"><a href="tantra.php" class="ws-button">Explore</a></div> -->

                        <hr class="ws-clear">

                    </li>

                    <li class="widget ws-section-grid-3" itemscope="">
                        <figure class="ibox">
                            <img width="450" height="225" src="~/images/couple_massage.jpg" class="attachment-wsomega-thumbnail size-wsomega-thumbnail" alt="" sizes="(max-width: 450px) 100vw, 450px">
                        </figure>

                        <h3 class="widget-title" itemprop="name" style="height: 20px;"> Couples Massage </h3>
                        <div class="summary"> <p style="height: 88px;">When we are talking about erotic stuff then couples massage is the only thing you should opt for when you want to experience pleasures with your partner.</p></div>
                        <!-- <div class="ws-button-div-center"><a href="couples.php" class="ws-button">Explore</a></div> -->

                        <hr class="ws-clear">

                    </li>

                    <li class="widget ws-section-grid-3" itemscope="">
                        <figure class="ibox">
                            <img width="450" height="225" src="~/images/asian_massage.jpg" class="attachment-wsomega-thumbnail size-wsomega-thumbnail" alt="" sizes="(max-width: 450px) 100vw, 450px">
                        </figure>

                        <h3 class="widget-title" itemprop="name" style="height: 20px;"> Asian Massage </h3>
                        <div class="summary"> <p style="height: 88px;">Asian massage is simply the best and if you are hiring Asian masseuses for this massage then you can enjoy every single second of this session.</p></div>
                        <!-- <div class="ws-button-div-center"><a href="asian.php" class="ws-button">Explore</a></div> -->

                        <hr class="ws-clear">

                    </li>


                    <li class="widget ws-section-grid-3" itemscope="">
                        <figure class="ibox">
                            <img width="450" height="225" src="~/images/nuru_massage.jpg" class="attachment-wsomega-thumbnail size-wsomega-thumbnail" alt="" sizes="(max-width: 450px) 100vw, 450px">
                        </figure>

                        <h3 class="widget-title" itemprop="name" style="height: 20px;"> NURU Massage </h3>
                        <div class="summary"> <p style="height: 88px;">NURU Massage is all about slippery gel and sexy masseuses who are willing to provide you the best massage experience of your life.</p></div>
                        <!-- <div class="ws-button-div-center"><a href="nuru.php" class="ws-button">Explore</a></div> -->

                        <hr class="ws-clear">

                    </li>
                </ul>

            </div>
        </div>
    </section>


    <section id="wsSection3" class="ws-section ws-section-3 lva-section-welcome">
        <div class="ws-section-content">
            <header class="ws-header">
                <div class="ws-wrap">
                    <h2 class="page-title">  <sup>About</sup> Massage Girls Online </h2>
                </div>
            </header>

            <div class="ws-wrap">
                <div class="">
                    <p>Our agency operates in various parts of America, and we are the biggest providers of masseuses. One thing that separates us from others is our amazing service. We aim for being the best and that’s the reason why our clients trust us. They know that nobody apart from us can provide such amazing services. Our agency is providing best services at an affordable cost. If you want to enjoy your life then come to us and hire the best escort girls right now. At our agency we have a very strict hiring policy which allows us to hire only the best girls. All of these girls go through major training to ensure that they are learning every forms of massage. This is the reason why our masseuses are so famous among our clients and once you come to us, you will never hire from others. Our agency believes in perfection and our perfect girls are the only ones who can provide you every form of pleasure.</p>
                    <p>You are going to notice that our girls are not just experts in providing massage, but they are also damn pretty. Yeah, we make sure that we are hiring only pretty ones since our clients love to be with pretty girls who are sexy and hot. So, when you will come to us, you will notice a mixed bag of prettiness and eroticism. The best thing about our girls is the fact that they always want to satisfy their clients. If you never really got the opportunity to get the best massage services, then we guarantee that our girls are going to mesmerize your senses. Stop looking at other agencies because what you need in your life is here. Come to us now and hire perfect girls within a reasonable budget. We are the one stop destination for all your needs.</p>

                </div>

                <div class="&quot;ws-button-div-center&#39;">
                    <p><a class="ws-button" href=".@Url.Action("Booking", "Home")/">Schedule an Appointment</a></p>
                </div>
                <p><em>Rush and Drama FREE</em></p>
            </div>
        </div>
    </section>



    <section id="wsSection4" class="ws-section ws-section-4 lva-section-girls">
        <div class="ws-section-content">
            <header class="ws-header">
                <div class="ws-wrap">
                    <h2 class="page-title"> <sup>Our Featured</sup>Massage Girls</h2>
                </div>
            </header>

            <div class="ws-wrap">
                <ul class="ws-grid ws-grid-6">

                    @foreach(var item in Model)
                    {
                        <li class="widget" itemscope="">
                            <a href=".@Url.Action("ProfileMain", "Profile", new { girlName = item.GirlName.ToLower() })/">
                            <figure class="ibox"><img src="~/images/masseuse/@item.Photo"></figure>
                            <h3 class="widget-title" itemprop="name" style="height: 40px;">@item.GirlName</h3>
                        </a>
                    </li>
                    }

                </ul>

                <div class="ws-button-div-center">
                    <a href=".@Url.Action("OurMassageGirls", "Home")/" class="ws-button">See All</a>
                </div>
            </div>
        </div>
    </section>
</section>
