@model IEnumerable<MassageGirls.Models.GirlProfile>
<div class="ws-wrap">
    <div id="main">

        <section id="primary" class="full-width">
            <main id="content" role="main">
                <div class="ws-page ws-girls-page">

                    <header class="header" itemprop="name headline">
                        <h1 class="page-title">Our Massage Girls</h1>
                    </header>

                    <ul class="ws-grid ws-grid-4">

                        @foreach (var item in Model)
                        {
                            <li class="widget" itemscope="">
                                <a asp-controller="Profile" asp-action="ProfileMain" asp-route-girlName="@item.GirlName.ToLower()">
                                    <figure class="ibox"><img src="~/images/masseuse/@item.Photo"></figure>
                                    <h3 class="widget-title">@item.GirlName</h3>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </main>
        </section>

        <hr class="ws-clear">
    </div>

    <hr class="ws-clear">
</div>