
<section id="primary" class="full-width">
    <main id="content" role="main">
        <div class="ws-page">

            <header class="header" itemprop="name headline">
                <h1 class="page-title">Thank You</h1>
            </header>
            <p align="center">Your request has been sent.</p>
        </div>
    </main>
</section>
<script>
    setTimeout(function () {
        window.location.replace(`@Url.Action("Index", "Home")`);
    }, 10000);
</script>